.todo-item {
  display:flex;
  align-items: center;
  border-bottom: 1px solid #ccc;

  .toggle {
    margin-right: 24px;
  }
  .title {
    margin-right: 24px;
    font-size: 24px;
  }
  .finished{
    color:#ccc;
    text-decoration: line-through;
  }
  .delete {
    cursor: pointer;
  }
}